/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 968px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
    margin-top: $mb-1-5;
}

.grid{
    display: grid;
}

.main{
    overflow: hidden; // For animation
}

.section{
    padding: 4.5rem  1rem;

    &__title{
        font-size: $h1-font-size;
        margin-bottom: $mb-2-5;
        text-align: center;
    }
}

.btn {
    margin: $mb-1;
    border: 0.2rem solid $first-color-alt;
    color: $first-color-alt;
    cursor: pointer;
    background: none;
    font-size: $h3-font-size;
    padding: .5rem 1rem;
    transition: .3s;

    &:hover {
        background-color: $first-color-alt;
        color: $body-color;
    }
}