/*=============== BREAKPOINTS ===============*/


/* for small devices*/

@media screen and (min-width:320px) {
    .container {
        margin-left: $mb-1;
        margin-right: $mb-1;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .category {
        &__card {
            img {
                width: 100px;
                height: 300px;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6.5rem 0 2rem;
    }

    .header {
        background-color: rgba(255, 255, 255, 0);
    }

    .bg-header {
        background-color: $body-color;
        box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1)
    }

    .nav {
        padding: 0 2rem;
        height: calc($header-height + 1.5rem);
        column-gap: 3rem;

        &__logo {
            font-size: $biggest-font-size;
        }

        &__toggle {
            display: none;
        }

        &__close {
            display: none;
        }


        &__menu {
            margin-left: auto;
        }

        &__list {
            flex-direction: row;
            column-gap: 3rem;
        }
    }

    .home {

        .content__one,
        .content__three,
        .content__two {

            span {
                font-size: 2rem;
            }

            h3 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }

            .content__text {
                align-items: start;
                padding: 0 5rem;
            }

            .btn {
                height: 50px;
                width: 140px;
                font-size: $h3-font-size;
                padding: .5rem 1rem;
                margin-top: .5rem;
            }
        }
    }

    .dark-theme .nav__menu {
        box-shadow: none;
    }

    .about {
        .about__container {
            flex-direction: row;
        }

        .about__map {
            iframe {
                height: 300px;
            }
        }
    }

    .footer__container {
        grid-template-columns: repeat(2, max-content);
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .container {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav__logo {
        font-size: $biggest-font-size;
    }

    .home {

        .content__one,
        .content__two,
        .content__three {

            .container__text-right {
                display: flex;
                width: 100%;
                justify-content: end;
            }

            .content__text {
                width: 50vw;
                padding: 0 5rem;
                align-items: start;
            }
        }

        .btn {
            height: 60px;
            width: 140px;
            font-size: $h2-font-size;
            padding: 1rem 1rem;
        }
    }

    .shop {
        .shop__container {
            padding-top: 2rem;
        }

        .shop__card {
            margin-bottom: 5rem;
        }

        .shop__price {
            font-size: $h3-font-size;
        }
    }

    .footer {
        // height: 10rem;
        .footer__container {
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            justify-content: space-between;
        }

        .footer__copy {
            margin-top: 7rem;
        }
    }

}