/*========== Colors ==========*/
$green: #219150;
$black: #10221b;
$white: #fff;
$light-bg: #eee;

/*========== font, typography and others ==========*/
$body-font:'Poppins', sans-serif;
$font-size: 62.5%;
$biggest-font-size: 2.5rem;
$small-font-size:1.7rem;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);